html,
body {
    width: 100%;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style-type: none;
    marker: none;
    margin: 0;
    padding: 0;
}
